.body-table, table{
    width: 100%;
    background-color: #fff;
    height: 80vh;
    overflow: auto;
}
.body-table::-webkit-scrollbar{
    display: none;
}
.body-table table tbody{
    width: 100%;
}
.body-table table tbody tr td:nth-child(2){
    padding-left: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.body-table table tbody tr td button{
    padding: 2px 5px;
    /* color: red; */
    background-color: rgba(179, 179, 179, 0.842);
    /* border: 1.5px solid rgb(250, 176, 176, 0.842); */
    border-radius: 3px;
    font-size: 12px;
}
.body-table table thead tr th:nth-child(2){
    position: sticky;
    top: 0;
}
.body-table table thead tr th select{
    border: 1.5px solid rgba(179, 179, 179, 0.842);
    border-radius: 3px;
    color: rgba(179, 179, 179);
    cursor: pointer;
}
.body-table table thead tr th select:focus{
    outline: none;
}
