.indicator{
    width: 500px;
    height: fit-content;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

@media screen and (max-width: 539px) {
    .indicator{
        width: 100%;
    }
}